interactions:
- request:
    body: !!python/unicode <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope
      xmlns:ns0="http://thalesgroup.com/RTTI/2017-10-01/ldb/" xmlns:ns1="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:com="http://thalesgroup.com/RTTI/2010-11-01/ldb/commontypes"
      xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header><com:AccessToken><com:TokenValue>55ede721-e99e-488b-9087-bcfb611f54f3</com:TokenValue></com:AccessToken></SOAP-ENV:Header><ns1:Body><ns0:GetDepartureBoardRequest><ns0:numRows>17</ns0:numRows><ns0:crs>BKT</ns0:crs></ns0:GetDepartureBoardRequest></ns1:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [text/xml; charset=utf-8]
      Soapaction: ['"http://thalesgroup.com/RTTI/2012-01-13/ldb/GetDepartureBoard"']
    method: POST
    uri: https://lite.realtime.nationalrail.co.uk/OpenLDBWS/ldb11.asmx
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soap:Envelope
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetDepartureBoardResponse
        xmlns="http://thalesgroup.com/RTTI/2017-10-01/ldb/"><GetStationBoardResult
        xmlns:lt="http://thalesgroup.com/RTTI/2012-01-13/ldb/types" xmlns:lt6="http://thalesgroup.com/RTTI/2017-02-02/ldb/types"
        xmlns:lt7="http://thalesgroup.com/RTTI/2017-10-01/ldb/types" xmlns:lt4="http://thalesgroup.com/RTTI/2015-11-27/ldb/types"
        xmlns:lt5="http://thalesgroup.com/RTTI/2016-02-16/ldb/types" xmlns:lt2="http://thalesgroup.com/RTTI/2014-02-20/ldb/types"
        xmlns:lt3="http://thalesgroup.com/RTTI/2015-05-14/ldb/types"><lt4:generatedAt>2019-01-04T13:39:01.5853985+00:00</lt4:generatedAt><lt4:locationName>Blake
        Street</lt4:locationName><lt4:crs>BKT</lt4:crs><lt4:platformAvailable>true</lt4:platformAvailable><lt7:trainServices><lt7:service><lt4:std>13:52</lt4:std><lt4:etd>13:55</lt4:etd><lt4:platform>1</lt4:platform><lt4:operator>West Midlands Trains</lt4:operator><lt4:operatorCode>LM</lt4:operatorCode><lt4:serviceType>train</lt4:serviceType><lt4:serviceID>jWIGjD1VWPFK+wXyxphTwA==</lt4:serviceID><lt5:rsid>LM173700</lt5:rsid><lt5:origin><lt4:location><lt4:locationName>Lichfield
        City</lt4:locationName><lt4:crs>LIC</lt4:crs></lt4:location></lt5:origin><lt5:destination><lt4:location><lt4:locationName>Redditch</lt4:locationName><lt4:crs>RDC</lt4:crs></lt4:location></lt5:destination></lt7:service><lt7:service><lt4:std>13:53</lt4:std><lt4:etd>On
        time</lt4:etd><lt4:platform>2</lt4:platform><lt4:operator>West Midlands Trains</lt4:operator><lt4:operatorCode>LM</lt4:operatorCode><lt4:serviceType>train</lt4:serviceType><lt4:serviceID>mU4bP+Jr6rDzfSGuwBpzUQ==</lt4:serviceID><lt5:rsid>LM157900</lt5:rsid><lt5:origin><lt4:location><lt4:locationName>Bromsgrove</lt4[...]
- request:
    body: !!python/unicode <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope
      xmlns:ns0="http://thalesgroup.com/RTTI/2017-10-01/ldb/" xmlns:ns1="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:com="http://thalesgroup.com/RTTI/2010-11-01/ldb/commontypes"
      xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header><com:AccessToken><com:TokenValue>55ede721-e99e-488b-9087-bcfb611f54f3</com:TokenValue></com:AccessToken></SOAP-ENV:Header><ns1:Body><ns0:GetServiceDetailsRequest><ns0:serviceID>jWIGjD1VWPFK+wXyxphTwA==</ns0:serviceID></ns0:GetServiceDetailsRequest></ns1:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [text/xml; charset=utf-8]
      Soapaction: ['"http://thalesgroup.com/RTTI/2012-01-13/ldb/GetServiceDetails"']
    method: POST
    uri: https://lite.realtime.nationalrail.co.uk/OpenLDBWS/ldb11.asmx
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soap:Envelope
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetServiceDetailsResponse
        xmlns="http://thalesgroup.com/RTTI/2017-10-01/ldb/"><GetServiceDetailsResult
        xmlns:lt="http://thalesgroup.com/RTTI/2012-01-13/ldb/types" xmlns:lt6="http://thalesgroup.com/RTTI/2017-02-02/ldb/types"
        xmlns:lt7="http://thalesgroup.com/RTTI/2017-10-01/ldb/types" xmlns:lt4="http://thalesgroup.com/RTTI/2015-11-27/ldb/types"
        xmlns:lt5="http://thalesgroup.com/RTTI/2016-02-16/ldb/types" xmlns:lt2="http://thalesgroup.com/RTTI/2014-02-20/ldb/types"
        xmlns:lt3="http://thalesgroup.com/RTTI/2015-05-14/ldb/types"><lt7:generatedAt>2019-01-04T13:39:01.7416394+00:00</lt7:generatedAt><lt7:serviceType>train</lt7:serviceType><lt7:locationName>Blake
        Street</lt7:locationName><lt7:crs>BKT</lt7:crs><lt7:operator>West Midlands
        Trains</lt7:operator><lt7:operatorCode>LM</lt7:operatorCode><lt7:rsid>LM173700</lt7:rsid><lt7:platform>1</lt7:platform><lt7:sta>13:52</lt7:sta><lt7:eta>13:55</lt7:eta><lt7:std>13:52</lt7:std><lt7:etd>13:55</lt7:etd><lt7:previousCallingPoints><lt7:callingPointList><lt7:callingPoint><lt7:locationName>Lichfield
        City</lt7:locationName><lt7:crs>LIC</lt7:crs><lt7:st>13:46</lt7:st><lt7:et>On
        time</lt7:et></lt7:callingPoint></lt7:callingPointList></lt7:previousCallingPoints><lt7:subsequentCallingPoints><lt7:callingPointList><lt7:callingPoint><lt7:locationName>Butlers
        Lane</lt7:locationName><lt7:crs>BUL</lt7:crs><lt7:st>13:54</lt7:st><lt7:et>On
        time</lt7:et></lt7:callingPoint><lt7:callingPoint><lt7:locationName>Four Oaks</lt7:locationName><lt7:crs>FOK</lt7:crs><lt7:st>13:56</lt7:st><lt7:et>On
        time</lt7:et></lt7:callingPoint><lt7:callingPoint><lt7:locationName>Sutton
        Coldfield</lt7:locationName><lt7:crs>SUT</lt7:crs><lt7:st>13:59</lt7:st><lt7:et>On
        time</l[...]
